/**
 * 结构样式
 * 这里是指定义页面的整体框架，比如常用的上中下布局结构，也定义包括公用的结构的样式如sidebar、menu等
 * 这里常用的样式名包括.header .container .content .footer .sidebar...
 * 定义该文件需要先确定页面的结构，确定哪些是公用部分
 */
header {
    position: relative;
    overflow: hidden;
    height: .44rem;
    line-height: .44rem;
    padding: 0 .5rem;
    background: #fff;
    border-bottom: 1px solid #c8c7cc;
}
header .icon {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    width: .5rem;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto .25rem;
    text-align: center;
    color: #0072bc;
}
header .icon_home {
    left: 0;
    background-image: url(../images/icon_home.png);
}
header .icon_return {
    left: 0;
    background-image: url(../images/common/back.png);
}
header .icon_return0 {
    left: 0;
    background-image: url(../images/icon_return.png);
}
header .icon_user {
    background-image: url(../images/icon_user.png);
}
header .icon_confirm {
    background-image: url(../images/icon_confirm.png);
}
header h1 {
    display: inline-block;
    width: 100%;
    font-size: 1.5em;
    font-weight: normal;
    color: #333;
    text-align: center;
}
header .header_title h3 {
    display: inline-block;
    width: auto;
    font-size: 1.5em;
    font-weight: normal;
    color: #333;
    text-align: left;
}
header .header_title span {
    padding-left: .15rem;
    color: #333;
}
.container {
    min-height: 320px;
    padding: .15rem .1rem;
    padding-bottom: .46rem;
}
.has_footer {
    margin-bottom: .52rem;
}
.has_fixed2 .container {
    margin-bottom: .95rem;
}
.container.nopadding2 {
    padding: 0;
}
.box {
    border-top: 1px solid #f4f4f4;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
footer {
    position: fixed;
    bottom: 0;
    display: -webkit-box;
    width: 100%;
    text-align: center;
    color: #666;
    border-top: 1px solid #d2d2d2;
    background-color: #fff;
    display: none;
}
footer .options {
    width: 100%;
}
footer .footer-item {
    display: block;
    padding: .05rem 0;
    -webkit-box-flex: 1;
}
footer .footer-item.active {
    color: #1777cf;
}
footer .footer-item i {
    display: block;
    width: .2rem;
    height: .2rem;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}
footer .footer-item i.home {
    background-image: url(../images/common/icon-home.png);
}
footer .footer-item i.hk {
    background-image: url(../images/common/icon-hk.png);
}
footer .footer-item i.send {
    background-image: url(../images/common/icon-send.png);
}
footer .footer-item i.user {
    background-image: url(../images/common/icon-user.png);
}
footer .footer-item.active i.home {
    background-image: url(../images/common/icon-home-on.png);
}
footer .footer-item.active i.hk {
    background-image: url(../images/common/icon-hk-on.png);
}
footer .footer-item.active i.send {
    background-image: url(../images/common/icon-send-on.png);
}
footer .footer-item.active i.user {
    background-image: url(../images/common/icon-user-on.png);
}