/* account start */
form .col{
    display: -webkit-box;
}
form .flex{
    -webkit-box-flex: 1;
}
form .other{
    width: 80px;
    margin-left: .09rem;
    text-align: center;
}
form .other a{
    display: inline-block;
    width: 80px;
    color: #818181;
}
/* account end */

/* login start */
form.login input[type="text"], form.login input[type="password"]{
	text-align: center;
}
.login .remember{
	display: -webkit-box;
	height: .35rem;
	line-height: .35rem;
	margin-bottom: .05rem;
	text-align: center;
	color: #818181;
}
.login .remember label{
	display: block;
	-webkit-box-flex: 1;
}
.login .remember input{
	width: .19rem;
	height: .19rem;
	margin-right: .12rem;
	border: 1px solid #ddd;
	vertical-align: middle;
}
.login .options{
	width: 88%;
	margin: 0 auto;
}
.login .tips{
	width: 88%;
	margin: .14rem auto;
	font-size: 0.8em;
}
.login .btn-forget{
	display: inline-block;
	width: 65px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	color: #818181;
	text-align: center;
}
/* login end */

/* register start */
.register .remember{
	display: -webkit-box;
	height: .35rem;
	line-height: .35rem;
	margin-bottom: .1rem;
	text-align: center;
	color: #818181;
}
.register .remember label{
	display: block;
	-webkit-box-flex: 1;
}
.register .remember input{
	width: .19rem;
	height: .19rem;
	margin-right: .12rem;
	border: 1px solid #ddd;
	vertical-align: middle;
}
/* register end */

/* forget start */
.forget .tips{
	padding: .12rem 0;
}
#btn-send{
	width: .9rem;
	margin-left: .05rem;
	margin-top: .05rem;
}
#btn-send a{
	display: block;
	line-height: .33rem;
	padding: 0 .1rem;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 0;
	text-align: center;
	color: #fff;
	background-color: #45def8;
	-webkit-user-select: none;
	vertical-align: middle;
}
#btn-send span{
	line-height: .33rem;
}
/* forget end */

/* reg-sus start */
.reg-sus .tips{
	margin-bottom: .1rem;
	padding-top: 1.4rem;
	text-align: center;
	background-image: url(../images/account/icon_reg_sus.png);
	background-repeat: no-repeat;
	background-size: 83px 83px;
	background-position: center .4rem;
}
.reg-sus .tips .phone{
	color: #0072bc; 
}
/* reg-sus end */